body {
	text-align: center;
	background: linear-gradient(to bottom right, green 0%, #76ff03 100%);
	background-repeat: no-repeat;
}

img {
	border-radius: 25%;
	padding-top: 25px;
}

h1 {
	font-family: "Sacramento", cursive;
	font-size: 40px;
	text-shadow: 2px 2px orange;
}

p {
	font-family: "Patrick Hand", cursive;
	font-size: 25px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 200px;
}
